       
spring:  
  application:
    name: first
  rabbitmq:
    host: localhost
    port: 5672
    listener:
       direct:
         retry:
          enabled: true
          initial-interval: 3
  cloud:  
    stream:
      binding-retry-interval: 5
      bindings:       
        output:
          destination: data-out
          producer:
            partitionKeyExpression: payload.id
            partitionCount: 4
            
   


server:  
  port: ${PORT:8090}
